@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

#about {
  background-size: cover;
  padding: 4rem 4rem;
}

#skills {
  background-size: cover;
  padding: 4rem 4rem;
}

#projects {
  background-size: cover;
  padding: 4rem 4rem;
}

#contact {
  background-size: cover;
  padding: 4rem 4rem;
}
